<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
    integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
  <title>山姆</title>
  </head>

<body>
<br><br>
<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="/">首页</a>
  </li>

</ul>
<br><br>

  <div class="container">
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-8 mb-3">
        <div>
          <h1>教程</h1>
          <a
            href="https://docs.qq.com/doc/p/0d709065bada17a5142ae50cdeb76cb674a6cc90?dver=3.0.27554990">https://docs.qq.com/doc/p/0d709065bada17a5142ae50cdeb76cb674a6cc90?dver=3.0.27554990</a>
          <br><br>
          <div class="mb-6">
            <div class="mb-6">
              <h3>返回结果</h3>
              <div>
                {{msg}}
                <br><br><br>
              </div>
            </div>
            <div class="mb-6">
              <h3>添加用户和监控地址</h3>
              <form action="/addUser" method="post" enctype="multipart/form-data" id="form">
                <label for="dc" class="form-label">选择街区</label>
                <select class="form-select form-select-lg" aria-label=".form-select-lg example" id="location"
                  name="location" required>
                  <option value="" selected>选择街区</option>
                  {% for location in locations %}
                  <option value="{{location}}">{{ location }}
                    {% endfor %}
                </select>
                <br>


                <div class="mb-6">
                  <label for="id" class="form-label">id</label>
                  例如bark里面的url：https://api.day.app/j56UZtSZWy3Cxxxg8PoktA/这里改成你自己的推送内容,则填写j56UZtSZWy3Cxxxg8PoktA不要多空格
                  <input type="text" class="form-control" id="id" name="id" required
                    placeholder="j56UZtSZWy3Cxxxg8PoktA">
                </div>
                <br>
                <div class="mb-6">
                  <button type="submit" class="btn btn-primary" id="submit">添加用户</button>

                </div>
              </form>
            </div>
            <br><br>
            <div class="mb-6">
              <h3>查询我的监控地址</h3>
              <form action="/getUser" method="post" enctype="multipart/form-data" id="form">
                <div class="mb-3">
                  <div class="mb-3">
                    <label for="id" class="form-label">id</label>
                    例如bark里面的url：https://api.day.app/j56UZtSZWy3Cxxxg8PoktA/这里改成你自己的推送内容,则填写j56UZtSZWy3Cxxxg8PoktA不要多空格
                    <input type="text" class="form-control" id="id" name="id" required
                      placeholder="j56UZtSZWy3Cxxxg8PoktA">
                  </div>
                  <button type="submit" class="btn btn-primary" id="submit">查询</button>
              </form>
            </div>
            <br><br>
            <div class="mb-6">
              <h3>删除用户</h3>
              <form action="/delUser" method="post" enctype="multipart/form-data" id="form">
                <div class="mb-3">
                  <div class="mb-3">
                    <label for="id" class="form-label">id</label>
                    例如bark里面的url：https://api.day.app/j56UZtSZWy3Cxxxg8PoktA/这里改成你自己的推送内容,则填写j56UZtSZWy3Cxxxg8PoktA不要多空格
                    <input type="text" class="form-control" id="id" name="id" required
                      placeholder="j56UZtSZWy3Cxxxg8PoktA">
                  </div>
                  <button type="submit" class="btn btn-primary" id="submit">删除用户</button>
              </form>
            </div>
          </div>
          <div class="col col-2">
          </div>
        </div>
        <!-- <div class="mb-3">
                <h3>删除user</h3>
                <form action="/delUser" method="post" enctype="multipart/form-data" id="form">
                    <div class="mb-3">
                        <label for="dc" class="form-label">选择dc</label>
                        <select class="form-select form-select-lg" aria-label=".form-select-lg example" id="dc"
                            name="dc" required>
                            <option value="1" selected>选择dc</option>
                            {% for location in locations %}
                            <option value="{{location}}">{{ location }}
                                {% endfor %}
                        </select>
                        <br>
                        <div class="mb-3">
                            <label for="id" class="form-label">id</label>
                            <input type="text" class="form-control" id="id" name="id" required>
                        </div>
                        <button type="submit" class="btn btn-primary" id="submit">删除user</button>
                        </form>
                        </div> -->
                        <br><br>

      </div>
    </div>
    <br><br>

</body>

</html>